@charset "UTF-8";
/* CSS Document by Carolina Silva BretÃƒÂ³n for Perfiles Educativos */

body {
	color:#5d606f;
	line-height: 1.6;
}
	div#hamburguesa { display: inline-block; padding: 0px; margin: 0; width: 0; height: 0; overflow: hidden;}

ol li {
	padding-bottom: 20px;
}
/* HEADER */
.pkp_structure_head {
    background: url("assets/perfiles/fdoTop1.jpg"), #fff;
    background-size: 50%;
	background-repeat: repeat-y;
}
.has_site_logo .pkp_head_wrapper {
    padding-top: 0px;
}
.pkp_site_name_wrapper {
	background: url("assets/perfiles/fdo_iisue.jpg"), url("assets/perfiles/top.jpg");
    background-size: auto 100%, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: top right, top left;
	min-height: 120px;
	height: auto;
	position: relative;
}
.pkp_site_name > a {
    padding-top: 0px;
    padding-bottom: 0px;
}
.pkp_site_name {
    height: 100%;
    position: absolute;
	width: 50% !important;
}
.pkp_site_name .is_img {
    display: inline-block;
    height: 100%;
    width: 90%;
}
.pkp_site_name .is_img img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}
.pkp_structure_main::before, .pkp_structure_main::after {
    background: none;
}
.pkp_structure_head {
    border-bottom: 0px;
}
/* registro*/
.pkp_navigation_user {
    text-align: right;
    font-size: 11px;
    padding-right: 0;
    margin-right: 0;
}
.pkp_navigation_user > li > a {
	color: #5d606f;
}
.pkp_navigation_user > li > a:hover, .pkp_navigation_user > li > a:focus {
    color: #5d606f;
	text-decoration: underline;
}

/* BANNER */
.mi_banner{
    width: 100%;
    background: #5d606f;
    height: auto;
	margin-bottom: -5px;
}
.mi_banner img {
	width: 100%;
	height: auto;
}
/* NAV */
.mi_menu {
    width: 100%;
    height: auto;
    min-height: 30px;
    display: inline-block;
    background: #5d606f;
}
.pkp_navigation_primary_row {
	width: 60%;
	margin: 0 auto;
}	

.pkp_nav_list li { line-height: 1.3 !important; }
.pkp_navigation_primary {
    display: inline-block;
    text-align: center;
    margin-left: 0;
    width: 70%;
}
.pkp_navigation_primary > li > a {
	padding: 10px 10px 8px;
	color: #fff;
	font-size: 16px;
}
.pkp_navigation_primary > li > a:hover, .pkp_navigation_primary > li > a:focus {
    	background: url('assets/perfiles/hover_nav.svg') no-repeat bottom center;
	text-decoration: none !important;
}
.pkp_navigation_primary > li:first-child a {
    margin-left: 0;
    background: url("assets/perfiles/home.svg") no-repeat;
    width: 45px;
    height: 30px;
    margin-bottom: -5px;
	color: #fff !important;
	border-bottom: none !important; 

}
.pkp_navigation_primary > li:first-child a:hover {
	text-decoration: none;
	border-bottom: none !important; 
}
/* submenu principal */
ul.dropdown-menu {
    background: rgba(93,96,111,0.85) !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}
.dropdown-menu li a {
     color: #fff !important;
	background: transparent;
}
.dropdown-menu li a:hover {
     text-decoration: underline;
	background: #5d606f !important;
}
.pkp_navigation_primary .dropdown-menu a:hover {
    border-color: transparent;
}

/* buscador*/
.pkp_search {
    display: inline-block;
    float: right;
}
.container-2 {
	width: auto;}
.container-2 .icon {
    margin-right: 12px;
    margin-top: 12px;
    color: #fff; line-height: 0;
}
.icon a, .icon a:hover {
    color: #5d606f;
}
.container-2 input#search {
    width: 5px;
    height: 40px;
    border: none;
    font-size: 12pt;
    float: right;
    color: #262626;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}
[type="search"] {
    outline-offset: -2px;
}

/*   --- CONTENT ---   */
.page_index_journal {
    padding-top: 8px;
}
.page_index_journal .current_issue {
    margin-left: -20px;
}
.pkp_structure_main h1, .pkp_structure_main h2, .pkp_structure_main h3, .pkp_structure_main h4 {
    margin: 20px 0;
}
.pkp_structure_content {
    padding-top: 10px;
}
.pkp_page_index .additional_content {
    padding: 10px;
}
.pkp_block {
    padding: 10px;
}
#fixed_anchors {
    border: 5px solid #d0d2d8;
	margin-bottom: 15px;
	margin-top: 15px;
	box-sizing: border-box;
	margin-left: 20px;
	width: 100%;
}

.pkp_block iframe {
    width: 300px !important;
	margin-left:10px;
}
.cmp_breadcrumbs ol { margin-bottom: 0px;}

/* bloques desplegable */
.sections,  .obj_issue_toc .sections:not(:first-child) {
    width: 65%;
    display: inline-block;
    float: right;
	margin-top: 0;
	margin-bottom: 30px;
	margin-right: 30px;
}
.estadisticas {
    margin-left: -255px;
    margin-top: 80px;
}
.section {
    padding: 0px !important;
}
.heading {
    width: 100%;
    background: #dfe1e5;
    padding: 10px;
	margin-bottom: 30px;
}
.heading #metadata_issue {
    width: 60%; line-height: 30px;
	display: inline-block;
}

.obj_issue_toc .galleys {
    width: 38%;
	margin: 0 !important;
	float: right;
	display: inline-block;
	padding: 0;
}
.obj_issue_toc .galleys_links li {
    margin-right: 15px;
    float: right;
}
.obj_issue_toc .galleys_links li:last-child {
    margin-right: 15px;
}
.obj_issue_toc .galleys_links li:first-child, .galleys .galleys_links li:nth-child(4) {
    margin-right: 0;
}
.galleys .galleys_links li:nth-child(4), .galleys .galleys_links li:nth-child(5), .galleys .galleys_links li:nth-child(6) {
	margin-top: 10px;
}
.galleys .galleys_links li a {
	width: 80px;
	padding: 0 2px 0 10px;
}

.obj_issue_toc .cover {
    width: auto;
}
.obj_issue_toc .cover img {
    border: 5px solid #d0d2d8;
}
.obj_issue_toc .galleys h2, .obj_issue_toc .section h2 {
    font-size: 16px;
    font-weight: 700;
    color: rgba(0,0,0,0.87);
    background: #fff !important;
    border-bottom: 1px solid #ddd;
}

.pkp_page_sitiosinteres .page > p {
	overflow: hidden;
	padding: 0;
	margin: 0;
	line-height: 0;
}
.pkp_page_sitiosinteres .page > table {
	width: 100%;
}
.pkp_page_sitiosinteres .page > table tbody {
	width: 100%;
	display: block;
}
.pkp_page_sitiosinteres .page > table tbody tr {
    background: url("assets/perfiles/separador.svg") no-repeat bottom center;
    line-height: 1.5;
    height: auto;
    display: block;
    width: 100% !important;
	background-size: 55% auto;
	padding-bottom: 15px;
}
.pkp_page_sitiosinteres .page > table tbody tr td:first-child {
    width: 25% !important;
}
.pkp_page_sitiosinteres .page > table tbody tr td:last-child {
    width: 70% !important;
	padding: 2.5%;
}
.pkp_page_sitiosinteres .page > table tbody tr td p {
	margin: 0 !important;
}

/**/
.doi {
	width: 60% !important;
	font-size: 13px;
}
.doi a {
	text-decoration: none;
}
.doi a:hover {
	text-decoration: underline;
}
#group {
    margin-top: -20px;
}

/* avisos */
.cmp_announcements {
    margin-left: -20px;
    margin-right: -20px;
}
.cmp_announcements > .obj_announcement_summary {
    background: #fcfcfc;
    padding: 10px 15px 5px !important;
    width: 100% !important;
    float: left;
    display: inline-block;
    color: #fff;
	margin-bottom: 5px;
	border: 2px dashed #e1702e;
	border-radius: 8px;
}
.obj_announcement_summary .summary p:first-child {
    margin-top: -5px;
	line-height: 18px;
	margin-bottom: -5px;
}
.cmp_announcements h3, .cmp_announcements p, .cmp_announcements a {
	color:#5d606f; padding: 0; margin: 0;
}
.cmp_announcements div.date {
	width: 0; height: 0; margin: 0; padding: 0; overflow: hidden;
}
.pkp_page_index .cmp_announcements .more {
    width: 0; padding-top: 0; padding-bottom: 0;
}
.fa-close {color: #e1702e !important;}
.pkp_page_announcement .fa-close { overflow: hidden; height: 0; width: 0; padding: 0; margin: 0;}

.pkp_page_announcement .cmp_announcements > li {
    border: 2px dashed #e1702e;
	border-radius: 8px; padding: 0 20px;
}

/*Notificaciones*/
.cmp_notification {
    margin-bottom: 20px;
    background: #fcfcfc;
    border: 2px dashed #e1702e;
	border-radius: 8px;
	margin-top: -10px;
}
/* detalle art*/
.obj_article_details .item { padding: 10px 0px; }
.obj_article_details .row {
    margin-left: 0px; margin-right: 0px;
}
.obj_article_details .main_entry { width: 100%; }
.obj_article_details .entry_details { width: 100%;}

/*cómo citar*/
.citation_display { margin-left: -20px; color: #5d606f; }
.citation_display .label { margin-bottom: 0px !important; font-weight: bold !important; color:#5d606f !important;}

/*  autores*/
.autores {
    margin-left: 0px;
    margin-top: -20px;
}

/* numeros anteriores */
h2.acc-header {
    padding: 5px 10px;
}
.years {
    margin-top: 0px;
}
ul.my_issues {
	list-style: none;
	margin:0;
}
.obj_issue_summary {
	padding-bottom: 10px;
}
h2.acc-header.active {
    background-color: #fff !important;
	border-bottom: 1px solid #ddd;
}
h2.acc-header.active:hover {
    background-color: #eee !important;
}
body.pkp_op_archive h2.acc-header.active::after {
    content: '\002B';
}
body.pkp_op_archive h2.acc-header::after {
	content: "\2212";
}

/*márgenes para equiparar index */
.page {
	margin-left: -20px; margin-right: -20px;
}
.pkp_page_article .my_block_title,
.pkp_page_article .myPublishedArticles,
.pkp_page_article #articlesBySameAuthorList {
    box-sizing: border-box;
    margin-left: 20px;
    width: 100%;
}
.myArticles .title {
	font-size: 14px;
	margin-bottom: 0;
}
.myArticles .authors {
	font-size: 14px;
	margin-bottom: 10px;
	background: url("assets/perfiles/separador.svg") no-repeat bottom center;
	background-size: 150%;
	padding-bottom: 20px;
}

/*  botones e hipervinculos */
.cmp_button_wire, .obj_galley_link {
    background: #5d606f;
    border: 1px solid #5d606f;
    border-radius: 3px;
    color: #fff;
}
.cmp_button_wire:hover, .cmp_button_wire:focus, .obj_galley_link:hover, .obj_galley_link:focus {
    background: #fff;
    color: #5d606f;
}

a, .pkp_page_index .current_issue .read_more, .obj_issue_toc .section h2 {
	color:#23328f;
}
a:hover, .pkp_page_index .current_issue .read_more:hover {
	color:#23328f;
	text-decoration: underline;
}
.summary a.read_more, .summary a.read_more:hover {
    width: 0; height: 0; padding: 0; margin: 0; overflow: hidden;
}
a.block_make_submission_link {
    display: inline-block;
    background: #5d606f !important;
	color: #fff !important;
	font-weight: normal;
}

a.block_make_submission_link:hover, a.block_make_submission_link:focus {
    background: #fff !important;
    color: #5d606f !important;
	border: 1px solid #5d606f;
}
a.title:hover {
	text-decoration: underline !important;
}

/*  RIGHTSIDEBAR */
.myPublishedArticles, #articlesBySameAuthorList {
    display: block;
    overflow: scroll;
    max-height: 400px;
    border: 1px solid #ddd;
    padding: 10px 20px;
	margin: 15px 0 25px 0;
}
.my_block_title {
    background: #ddd;
    padding: 1px 2px 1px 15px;
    margin-bottom: -15px;
	margin-top: 8px;
}
.my_block_title h3 {
    font-weight: bold;
    font-size: 14px;
}
.block_developed_by {
	overflow: hidden;
	height: 0;
	display: inline-block;
	width: 0;
	padding: 0;
}
.block_language {
	padding-top:0 !important;
	margin-bottom: 40px;
	margin-left: 10px;
}

/*.pkp_page_index .block_language {
	margin-left: 10px;
}*/

/* banderas */
li.locale_en_US, li.locale_es_ES {
    display: block !important;
    float: left !important;
    margin-right: 20px !important;
}

/*  FOOTER  */
.pkp_structure_footer_wrapper {
    background: #5d606f;
}
.pkp_structure_footer {
    text-align: center;
    width: 80%;
}
.pkp_footer_content {
    padding: 20px;
}
.my_footer_content div {
	display: block;
	box-sizing: border-box;
	padding: 0;
}
.my_footer_content .left_content {
	width: 85%; float: left;
}
.my_footer_content #right_content {
    background: url("assets/perfiles/firma_unam.svg") no-repeat right top ;
	background-size: auto 100%;
	float: right;
	height: 100px;
	width: 15%;
	padding: 20px 0;
}
.my_footer_content div p {
	margin: 0;
	color: #fff;
	font-size: 11px;
	line-height: 16px;
	font-style: normal;
	font-weight: normal;
	padding: 10px 0;
}

/********************************************************************************************************/
/*---------------------------------------------------- LAPTOP -----------------------------------------------------*/
@media screen and (max-width:1850px){
.pkp_structure_head { border-left: 5px solid red; /* responsive */}
	
	div#hamburguesa { display: inline-block; padding: 0px; margin: 0; width: 0; height: 0; overflow: hidden;}

	/*registro top*/
	#navigationUser { width: 100px;}
	.pkp_navigation_user > li > a { padding-right: 0; font-size: 10px; padding-bottom: 0; padding-top: 0;}
	/*NAV*/
	.pkp_navigation_primary_row {
   	 	width: 91%;
    	margin: 0 auto;}
	.pkp_navigation_primary {width: 70%;}
	.pkp_structure_footer { width: 100%;}
	.pkp_footer_content { padding: 15px;}
	
} /* END LAPTOP*/

/*---------------------------------------------------- TABLET -------------------------------------------------------*/
/*****LANDSCAPE:H****/
@media screen and (max-width: 1220px){
.pkp_structure_head { border-left: 5px solid pink; /* responsive */}
 
	div#hamburguesa { display: inline-block; padding: 0px; margin: 0; width: 0; height: 0; overflow: hidden;}
	
	html, body, .pkp_structure_page { box-sizing: border-box;}
	
	/*top*/
	.pkp_site_name_wrapper {
    background: url("assets/perfiles/fdo_iisue.jpg"), url("assets/perfiles/top.jpg");
    background-size: auto 92%, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: top right, top left;
    min-height: 95px;
    height: auto;
    position: relative;
	margin-right: 20px;
}
	
	/*registro top*/
	#navigationUser { width: 100px;}
	.pkp_navigation_user > li > a { padding-right: 0; font-size: 10px; padding-bottom: 0; padding-top: 0;}
	/*NAV*/
	.pkp_navigation_primary_row {
   	 	width: 100%;
    	margin: 0 auto;}
	.pkp_navigation_primary {width: 69%;}
	.pkp_navigation_primary > li > a {
    padding: 10px 8px 8px;
    color: #fff; font-size: 14px;
}
	.container-2 input#search {
		width: 300px; height: 30px;
		margin-top: 4px;
		margin-right: 4px;}
	
	.page_index_journal .current_issue {
    	margin-right: -20px; }
	.sections, .obj_issue_toc .sections:not(:first-child) {
		width: 64%; margin-right: 5px;}
	.heading #metadata_issue {
		width: 55%;
	}
	body.pkp_page_index #metadata_issue .title span {
		font-size: 90% !important;
	}
	.obj_issue_toc .galleys {
		width: 46.2%;}
	.obj_issue_toc .cover {
		margin-right: 10px;}
	.obj_issue_toc .cover img {
		width: 90%;}
	div.acc-body {
    	margin-left: -20px;}
	.estadisticas {
    	margin-left: -220px;
    	margin-top: 55px;
}
	
	
} /* END TABLET: H*/

/*************************************/
/*********** PORTRAIT:V**************/
@media screen and (max-width: 1023px){
.pkp_structure_head { border-left: 5px solid green; /* responsive */}	
	
	div#hamburguesa { display: inline-block; padding: 0px; margin: 0; width: 0; height: 0; overflow: hidden;}

	
	/*top*/
	.pkp_site_name_wrapper {
		min-height: 65px;}
	
	/*registro top*/
	#navigationUser { top: 65px;}
	.pkp_navigation_user > li > a { padding-right: 0; font-size: 8px; padding-bottom: 0; padding-top: 0; color:#fff !important;}	
	
	/*nav*/
	.pkp_navigation_primary {
		width: 100%; }
	
	/*buscador*/
	.container-2 input#search {
		width: 600px; height: 30px;
		margin-top: 2px; margin-right: 15%;
		margin-bottom: 2px;
	}
	.container-2 .icon {
	margin-right: 17%;
	margin-top: 10px;
	}
	
	/*  RIGHTSIDEBAR */
	body.pkp_page_index .pkp_structure_sidebar .pkp_block .content {
		width: 55% !important;
		float: left;
	}
	body.pkp_page_index .pkp_structure_sidebar .pkp_block:nth-child(2) {
		margin-top: -10px;
	}
	body.pkp_page_index .pkp_structure_sidebar .block_language {
		width: 40%;
		margin-top: -70px;
	}
	
	/*footer*/
	.my_footer_content #right_content {
   	 	background: url("assets/perfiles/firma_unam.svg") no-repeat right top;
		background-size: 100% auto;
	}
	
	
	
} /* END TABLET: V*/

/*---------------------------------------------------- PHONE ----------------------------------------------------------*/
/*****LANDSCAPE:H****/
@media screen and (max-width: 680px) {
	
	.pkp_structure_head { border-left: 5px solid purple; /* responsive */}	
	
	.pkp_navigation_primary_wrapper > ul#navigationPrimary { padding: 0px; margin: 0; width: 0; height: 0; overflow: hidden; }
	
	
	/*NAV*/
	div#hamburguesa { 
		display: inline-block;
		padding: 0px;
		margin-left: 10%;
		width: 30%;
		height: 100%;
		overflow: visible;
		color: purple;
		position: relative;		
	}

	span.icon-menu::after {
		content: '\2630';
		color: #fff;
		width: 100px;
		height: 32px;
		display: block;
		font-size: 38px;
		line-height: 0.5;
		font-weight: bold;
	}
	span.icon-menu {
		content: '.' !important;}
	#menuPhone {
    	width: 230%;
		height: 250px;
		background: none;
		position: absolute;
		top: 34px;
		left: 15%;
		z-index: 1000;
}
	#menuPhone li {
        width: 100%;
        height: 50px;
        background: rgba(93,96,111,0.90);
        list-style: none;
        text-align: center;
        line-height: 50px;
        position: relative; /* para poder mover lo de adentro que tendrá posición absoluta*/
        color: #f1f1f1;
        border-bottom: solid 1px #fff;
        font-family: inherit;
        letter-spacing: 1px;
        text-shadow: 3px 3px 3px #333;
        display: block;
        
        overflow: hidden; /* enmascarillar */
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    
	}
	#hamburguesa .pkp_navigation_primary > li:first-child a {
    	margin-left: 0;
    	background: transparent;
	}
	#hamburguesa .pkp_navigation_primary > li a {
    	line-height: 2;
	}
	#hamburguesa .pkp_navigation_primary > li > a:hover, #hamburguesa .pkp_navigation_primary > li > a:focus {
    	background: rgba(93,96,111,0.90);
    	text-decoration: none !important;
		border:0;
	}
	#hamburguesa .pkp_navigation_primary > li:hover, #hamburguesa .pkp_navigation_primary > li:focus {
    	background: #505361;
	}
	
	/*top*/
	.pkp_site_name_wrapper {
    	background: url("assets/perfiles/fdo_iisue.jpg"), url("assets/perfiles/top.jpg");
    	background-size: auto 90%, 100%;
		background-repeat: no-repeat, no-repeat;
		background-position: top right, top left;
		min-height: 45px;	
		height: auto;
		position: relative;
		margin-right: 8px;
	}
	/*registro top*/
	#navigationUser { top: 47px;}
	
	/*buscador*/
	.container-2 input#search {
		width: 130%; height: 30px;
		margin-top: 2px; 
		margin-bottom: 2px;
		margin-right: 0;
	}
	.container-2 .icon {
		margin-right: 4.5%;
		margin-top: 10px;
	}
	/*contenido*/
	.heading #metadata_issue {
		width: 100%;
	}
	body.pkp_page_index #metadata_issue .title span {
		font-size: 100% !important;
	}
	.obj_issue_toc .cover img {
		width: 170px;
		margin: auto;}
	.obj_issue_toc .section h2 {
    	margin-bottom: 0;
	}
	.sections, .obj_issue_toc .sections:not(:first-child) {
    	width: 64%;
    	margin-right: 17%;}
	.pkp_page_index .current_issue .read_more {
    	font-size: 12px; 
		margin-left: 70%;
		margin-top: -50px;
		position: relative;
		display: block;
	}
	
	/*rightsidebar*/
	body.pkp_page_index .pkp_structure_sidebar .pkp_block .content {
	    width: 100% !important;
	    margin-left:0;
	}
	.pkp_block iframe[name="f3834c75c7b549c"] {
		padding-left: 22%;
	}
	
	/*Footer*/
	.my_footer_content .left_content {
    	width: 100%;
	}
	.pkp_block iframe {
    	width: 100% !important;
    	margin-left: 0px;
}
	.my_footer_content #right_content {
    	height: 100px;
    	width: 50%;
    	padding: 20px 0;
    	margin-right: 35%;
		background-size: 50% auto;
	}
	
} /* END PHONE: H*/

/*---------------------------------------------------- PHONE ----------------------------------------------------------*/
/*****PORTRAIT:V****/
@media screen and (max-width: 480px) {
	
	.pkp_structure_head { border-left: 5px solid aqua; /* responsive */}	
	
	.pkp_navigation_primary_wrapper > ul#navigationPrimary { padding: 0px; margin: 0; width: 0; height: 0; overflow: hidden; }
	
	
	/*NAV*/
	div#hamburguesa { 
		margin-left: 0;
		width: 18%;
		height: 100%;
		overflow: visible;
		color: purple;
		position: relative;		
	}
	#menuPhone {
    	width: 500%;
		left: 15%;
	}
	
	
	/*top*/
	.pkp_site_name_wrapper {
    	background: url("assets/perfiles/fdo_iisue.jpg"), url("assets/perfiles/top.jpg");
    	background-size: auto 100%, 100%;
		background-repeat: no-repeat, no-repeat;
		background-position: top right, top left;
		min-height: 32px;	
		height: auto;
		position: relative;
		margin-right: 0;
	}
	
	/*buscador*/
	.container-2 input#search {
		width: 100% ; height: 30px;
		margin-top: 2px; 
		margin-bottom: 2px;
		margin-right: 0;
	}
	form.pkp_search { width: 75%;
	}
	
	/*registro*/
	#navigationUser {  top: 37px; }
	
	/*contenido*/
	.page {
    	margin-left: 0;
    	margin-right: 0;
	}
	.page_index_journal .current_issue {
    	margin-right: 0;
	}
	.page_index_journal .current_issue {
    	margin-left: 0;
	}
	.sections, .obj_issue_toc .sections:not(:first-child) {
    	width: 70%;
    	margin-right: 17%;
		margin-bottom: 0;
	}
	.pkp_page_index .current_issue .read_more {
    	font-size: 13px; 
		margin-left: 20px;
		margin-top: 0;
		display: inline-block;
	}
	body.pkp_page_index .pkp_structure_sidebar .block_language {
    width: 100%;
    margin-top: 0px;

}
	
	
	/*rightsidebar*/
	.pkp_block iframe[name="f3834c75c7b549c"] {
		padding-left: 0 !important;
		width: 100% !important;
	}
	
	/*Footer*/
	.my_footer_content .left_content {
    	width: 100%;
	}
	.my_footer_content #right_content {
    	height: 100px;
    	width: 50%;
    	padding: 20px 0;
    	margin-right: 25%;
		background-size: 100% auto;
	}
	
} /* END PHONE: V*/